body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0 0;
    min-width: 728px;
    min-height: 800px;
    background: #101010;
}

#wrapper {
    background: #586B6B;
    width: 728px;
    min-width: 728px;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

#game-container {
}

#info {
    background: #303030;
    height: 100px;
    margin: auto 8px;
    color: white;
    text-align: center;
}

#messages {
    width: 400px;
    height: 100%;
    margin: 0 auto;
    top: 0;
}

h6, h5, h4, h3, h2, h1 {
}

#info h6 span {
    color: #FF5050;
}

#resetinfo {
    width: 100px;
    margin: 0 auto;
    border: 1px solid white;
}

.small {
    font-size: 10px;
}

.container {
    position: relative;
    height: 128px;
    padding: 8px;
    top: 0;
    overflow: auto;
}

#board-roll {
    position: relative;
    width: 728px;
    margin: auto;
    top: 0;
    overflow: auto;
}

#board {
    float: right;
    width: 656px;
    height: 256px;
    background: url("../img/board.png") no-repeat;
    margin-right: 8px;
}

#dice-space {
    float: left;
    margin-left: 8px;
}

#dice-space.roll {
    background: url("../img/roll.png") no-repeat top;
}

.die {
    height: 56px;
    width: 48px;
    margin: 8px 0 0;
}

.empty {
    background: none;
}

.die-0 {
    background: url("../img/die-0.png") no-repeat;
}

.die-1 {
    background: url("../img/die-1.png") no-repeat;
}

.token-white {
    background: url("../img/token-white.png") no-repeat center;
}

.token-black {
    background: url("../img/token-black.png") no-repeat center;
}

.container-end {
    float: right !important;
}

.tokens-container {
    float: left;
    overflow: auto;
}

.container-field {
    float: left;
    height: 48px;
    width: 48px;
    margin: 8px;
}

#path-main {
    position: absolute;
    top: 88px;
    left: 72px;
}

.path-field {
    float: left;
    height: 64px;
    width: 64px;
    margin: 8px;
}

#path-black-start {
    position: absolute;
    top: 8px;
    left: 72px;
}

#path-black-end {
    position: absolute;
    top: 8px;
    right: 16px;
}

#path-white-start {
    position: absolute;
    bottom: 8px;
    left: 72px;
}

#path-white-end {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.selection {
    background-color: rgb(80, 80, 80);
    background-color: rgba(80, 80, 80, 0.5);
    cursor: pointer;
}

.rosetta {
}

.rosetta.selection {
    background-color: rgb(200, 80, 80);
    background-color: rgba(200, 80, 80, 0.5);
}

.arrow {
    background: url("../img/arrow.png");
    background-color: rgb(80, 80, 80);
    background-color: rgba(80, 80, 80, 0.8);
}

.arrow.right {
}

.arrow.up {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

.arrow.down {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.arrow.left {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

