body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0 0;
    min-width: 728px;
    min-height: 600px;
    background: #101010;
}

#wrapper {
    background: #303030;
    width: 728px;
    min-width: 728px;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

#game-container {
}

#messages {
    position: relative;
    background: brown;
    width: 728px;
    height: 100px;
    margin: auto;
    top:0;
    color: white;
    text-align: center;
}

.container {
    position: relative;
    height: 128px;
    padding: 8px;
    top: 0;
    overflow: auto;
}

#board-roll {
    position: relative;
    width: 728px;
    margin: auto;
    top: 0;
    overflow: auto;
}

#board {
    float: right;
    width: 656px;
    height: 256px;
    background: url("../img/board.png") no-repeat;
    margin-right: 8px;
}

#dice-space {
    float: left;
    margin-left: 8px;
}

#dice-space.roll {
    background: url("../img/roll.png") no-repeat top;
}

.die {
    height: 56px;
    width: 48px;
    margin: 8px 0 0;
}

.empty {
    background: none;
}

.die-0 {
    background: url("../img/die-0.png") no-repeat;
}

.die-1 {
    background: url("../img/die-1.png") no-repeat;
}

.token-white {
    background: url("../img/token-white.png") no-repeat center;
}

.token-black {
    background: url("../img/token-black.png") no-repeat center;
}

.container-end {
    float: right !important;
}

.tokens-container {
    float: left;
    background: gray;
    overflow: auto;
}

.container-field {
    float: left;
    height: 48px;
    width: 48px;
    margin: 8px;
}

#path-main {
    position: absolute;
    top: 88px;
    left: 72px;
}

.path-field {
    float: left;
    height: 64px;
    width: 64px;
    margin: 8px;
}

#path-black-start {
    position: absolute;
    top: 8px;
    left: 72px;
}

#path-black-end {
    position: absolute;
    top: 8px;
    right: 16px;
}

#path-white-start {
    position: absolute;
    bottom: 8px;
    left: 72px;
}

#path-white-end {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.selection {
    background-color: rgb(80, 80, 80);
    background-color: rgba(80, 80, 80, 0.5);
}

.rosetta {
}

.rosetta.selection {
    background-color: rgb(200, 80, 80);
    background-color: rgba(200, 80, 80, 0.5);
}

